{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Add phrase word to "{{ word['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for("dict.index") }}" class="button">View Dictionary</a></li>
        <li><a href="{{ url_for('dict.edit_word', word_id=word['id']) }}" class="button">Edit word</a></li>
        <li>
            <div class="popup" onclick="myFunction()">Help
                <span class="popuptext" id="myPopup">
                    <h3>Add phrase word - Help</h3>
                    <p>This is a page that allows the user to add a new word that can form a phrase with the given word
                        to the dictionary or to form a connection with an existing word if it is already present in the database.</p>
                    <p><b>To do that, input a word into the textarea below and click on the "Add phrase word" button.</b></p>
                    <p>To go back to the main dictionary page with the list of all the words,
                        click on the <b>"View dictionary"</b> button.</p>
                    <p>You can also get to the main dictionary page by <b>clicking the header on top</b> of the page.</p>
                    <p>To go back to editing the word click on the <b>"Edit word"</b> button.</p>
                </span>
            </div>
            <script src="../../static/popup.js"></script>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form class="main" method="post">
        <label for="phrase_word">Phrase word:</label>
        <input name="phrase_word" id="phrase_word" value="{{ request.form["phrase_word"] }}">
        <input type="submit" value="Add phrase word">
    </form>
{% endblock %}